
<div class='wrapper'>

    <div class="login-container">
      {{#if errors}}
          <ul >
              {{#each errors as |error|}}
                    <li class='error-message'>
                      {{error}}
                    </li>
              {{/each}}
          </ul>
      {{/if}}

      {{#if message}}
          <ul >
                    {{#each message as |submessage|}}
                          <li class='complete-message'>
                              {{submessage}}
                          </li>
                    {{/each}}

          </ul>
    {{/if}}

        <h2>Forgot Password</h2>

        <form action='/forgot-password' method='post'>

              <div class='form-group' >
                    <label for='email' >Email</label>

                    {{#if email}}
                      <input type='text' id='email' name='email' value="{{email}}" required />
                    {{else}}
                    <input type='text' id='email' name='email' placeholder='Your Email..' required />

                    {{/if}}
              </div>

              <div class='form-group'>
                  <a href="/login">Login In</a>
              </div>

              <div class='form-group button-container'>


                  <button class="submit-button reset-password">Reset Password</button>

              </div>

        </form>


    </div>

</div>
