
    <div class="mainContent">

      <div class="page home">

          {{#if user.organization.organization_id}}

              <div class="spreadsheet-display"  onmouseenter='$(".ss-onhover").css("display","inline-block");$(".ss-Default").css("display","none");'  onmouseleave='$(".ss-onhover").css("display","none");$(".ss-Default").css("display","inline-block");'>

                <div class="center ss-Default" style="display:inline-block;width: 100%;">
                    <div style="float:top;font-size:22px;">Service Transactions</div>
                    <div style="float:top;font-size:18px;">Live Spreadsheet</div>
                </div>


                  <div class="center ss-onhover" style="display:none;width:100%;height:100%;">

                        <div class="center preview-save" style="display:inline-block;width:100%;height:100%;">
                                <!-- <span class="preview"> Preview </span>
                                <span class="save">Save</span> -->
                                <div class='center' style="display:inline-block;width:100%;" >

                                  <div class=" preview" style="display:inline-block;position: relative;margin-right:5%; float:center;cursor:pointer;text-shadow:1px 1px rgba(0, 0, 0,0.4)"  onclick="getPreviewSpreadsheet();"  onmouseover="$(this).css('color','rgba(255, 255, 255,0.8)'); "  onmouseout="$(this).css('color','rgba(255, 255, 255,1)'); " ><h2>Preview</h2></div>
                                  <div class=" save" onclick="saveSpreadsheet()"  style="display:inline-block;margin-left:5%;position: relative;float:center;cursor:pointer;text-shadow: 1px 1px rgba(0, 0, 0,0.4)" onmouseover="$(this).css('color','rgba(255, 255, 255,0.8)'); " onmouseout="$(this).css('color','rgba(255, 255, 255,1)') "></div>

                                  <div class="loading-saveMessage" style="display:inline-block;margin:5px;position: relative;float:center;cursor:pointer;">
                                    <img src="/Images/loading.gif" style="width:25px;height:25px;" />
                                  </div>

                              </div>



                                <div class="loading-loadNewMessage" style="position:absolute;bottom:30px;text-align:center;display:none;margin:0;cursor:pointer;width:100%;">
                                  <img src="/Images/loading.gif" style="width:25px;height:25px;" />
                                </div>



                        </div>

                        <div class="lastUpdated" style="position:absolute;bottom:0;width:100%;"> <img src="/Images/loading.gif" style="position:relative;width:25px;height:25px;" /></div>
                  </div>


              </div>

              <div class="graph-container">

                      <div class="myGraph totalDonationsVsDate  fade" style="display:block;">

                            <div class="graphNumberText">1 / 3</div>
                            <canvas class="graphCanvas homeCanvasTotalDonationsVsDate">

                            </canvas>
                      </div>

                      <div class="myGraph numOfMembersVsDate  fade">
                            <div class="graphNumberText">2 / 3</div>
                            <canvas class="graphCanvas homeCanvasNumOfMembersVsDate">

                            </canvas>
                      </div>

                      <div class="myGraph methodOfPaymentVsDate  fade">
                            <div class="graphNumberText">3 / 3</div>
                            <canvas class="graphCanvas homeCanvasMethodOfPaymentVsDate">

                            </canvas>
                      </div>

                      <a class="graphNav graphPrev" onclick="nextGraph(-1)">&#10094;</a>
                      <a class="graphNav graphNext" onclick="nextGraph(1)">&#10095;</a>

                      <div class="graph-no-data">No Graph Data</div>

              </div>



              <div class="preview-spreadsheet" >
                    <div class='open-spreadsheet' link='{{user.organization.spreadsheet_url}}'>

                    </div>
                    <div class="outputScreen" style="float:top;color:rgba(136, 135, 156,1);border-bottom: 3px solid rgba(136, 135, 156,1);margin-left:10px; margin-bottom:5px;margin-right:10px;"> <h3>Preview Screen</h3></div>

                    <div class="ss-loading-container">
                        <div class="loading-spreadsheet" > <img src="/Images/loading.gif" style="position:relative;width:25px;height:25px;" /></div>
                    </div>
                    <div class="spreadsheet-content" style="width:calc(100% - 20px);max-height:170px;margin-left:10px;margin-right:10px;overflow:auto;">
                          <table class="spreadsheet-table" style="height:20px;">

                          </table>
                    </div>
              </div>

        {{else}}
              <div class='organization-none'>

                  <div class='message'>
                      Not registered with an organization

                  </div>
                  <div class='getStarted'>
                      <a href='organization'> Get Started - Join or Create Your Organization</a>
                  <div>

              </div>



              </div>

          </div>



        {{/if}}
