
<div class="mainContent">



    <div class="page gettingStarted">

          <div class="text-container">
                <div class="text-container-title">Overview</div>

                <div class="text-container-content">

                        <strong>Turoken</strong> allows individuals to
                        interact with their organization's data.
                        Data enters the system from a google spreadsheet,
                        whereby a connection with Turoken is established.

                        <h3 style="text-decoration:underline">Features</h3>

                        <h4 class='sub-heading'>Preview</h4>
                        <p class='sub-content'>
                          View current spreadsheet.
                          The feature is a visual indicator that there is an established connection with Turoken.
                        </p>

                        <h4 class='sub-heading' >Save</h4>
                        <p class='sub-content' >
                          Store current spreadsheet to the database,
                          which can be recollected for data analysis.
                        </p>

                        <h4 class='sub-heading' >Search</h4>
                        <p class='sub-content' >
                          Query an organization's data by name, year, year/month, year/month/day.
                          The queried data can be <strong>filtered and downloaded as a pdf</strong> .
                        </p>

                        <h3 style="text-decoration:underline">Key Notes</h3>

                        <h4 class='sub-heading' >Saving Mechanism - Naming</h4>
                        <p class='sub-content' >

                            <strong>Turoken</strong> stores and manages organization members by name.
                            As a result, it is important that spreadsheet members are consistently named:
                            an individual can not be addressed by multiple names.
                            <br /><br />
                            There are protective measures to minimize inconsistency. However, pairing one distinct name
                            to an individual ensures that data is recorded accurately.
                            <br /><br />
                            Also, individuals that appear more than once on a spreadsheet will have their transactions summed.

                        </p>

                        <h4 class='sub-heading' >Saving Mechanism - Spreadsheet Inputs</h4>
                        <p class='sub-content' >
                            In the spreadsheet, there are headers; all are customizable except for <u>FirstName</u>
                            and <u>LastName</u>. Turoken depends on associating members' names to their transactions.
                            <br /><br />
                            Each member's transaction are associated with payment methods and contribution amounts.
                            <br /><br />
                            For payment methods, inputs may be variations of the following:
                            'yes','no','true' ,'false'. Also, an empty payment category is assumed to be false.
                            <br /><br />
                            For contribution amounts, inputs must be integers or decimals. An empty contribution category is assumed to be $0.

                        </p>




                </div>


          </div>



    </div>

</div>
