
    <div class="mainContent">


        <div class="page search">

                      <div class="search-container">
                        <input type="text" class="inputSearch" placeholder="Search" onkeyup="search(this.value)" />

                        <div class="search-results">
                          <table class="result-table">

                          </table>
                        </div>
                      </div>

                      <div class="preview-container">


                      </div>

                      <div class="result-preview-container" id='searchResults' >
                            <div class="result-preview-content">
                                  <div class="filterBy" id="year-filter">Filter By Year</div>
                                  <div class="filterBy" id="month-filter" >Filter By Month</div>
                                  <div class="filterBy" id="day-filter" >Filter By Day  </div>
                            </div>
                      </div>

        </div>
    </div>
