/* CSS Docement for graph related items*/

.graph-container{
  position:relative;
  display: inline-block;
  vertical-align: top;

  /* display: none; */

  background-color: #fff;

  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
  color:white;

  margin-top: 10px;
  /* margin-left: 2.5%; */
  /* right: 15px;
  top:20px; */

  width:67.5%;
  height: 250px;

  /* width: calc(60% - 20px);
  height: calc(40% - 20px); */
  text-align: center;
  border-radius: 10px;
}

.graph-container:hover{
    /* box-shadow: 0px 1px 6px 3px white; */
}

.graph-no-data{

    display: none;
    position: relative;
    top:40% ;
    font-size: 25px;
    font-variant-caps: all-small-caps;
    font-family: Courier;
    color: rgba(136, 135, 156,1);
    text-decoration: underline;

}

/* Graph Text */
.graphNumberText {
  color: rgba(136, 135, 156,1);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left:5px;
}

.myGraph{display:none;}

.graphPrev, .graphNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.graphNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.graphPrev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.graphPrev:hover, .graphNext:hover {
  background-color: rgba(136, 135, 156,0.3);
}

.graphCanvas{
  /* width: 100%;
  height: 100%; */
  /* background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */

  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;

}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 768px) {

    .graph-container{
      width: 95%;
      margin: 5px 2.5%;
      box-shadow: unset;
    }

}
