html{
  height: 100%;
}

body{
  background: #f5f6f8;
  border: none;
  font-family: Times;
  height: 100%;
  margin: 0;
  /* font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; */

}
/*
  New Nav Bar

 */

.hor-nav-bar{
  display: inline-block;
  float:left;
  background: #fff;

  width:calc(85% - 5px);
  /* min-width: 75%; */
  /* max-width:75%; */
  /* margin-left:20%; */
  padding: 7px 0;
  overflow: hidden;

  box-shadow: 0px 1px 1px 0px grey;
  border-radius: 0 10px 10px 0;
  /* box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1); */


}

.hor-nav-item{
  display: inline-block;

  /* vertical-align: top; */
  margin-left: 10px;
  margin-right: 10px;
}

.hor-nav-item.logo{
  width: 30px;
  height: 30px;
  float:right;


}

img{
 filter:none;
 max-width:100%;
 max-height: 100%;
 object-fit: contain;

}




.hor-nav-item.right{
  float:right;
}

.hor-nav-item.left{
  float:left;
}

.hor-nav-item .name-text{
  padding: 7px 0px;
  font-family: Courier;
  color:rgba(136, 135, 156,1);
  text-transform: capitalize;
}
.hor-nav-item.search{
  width:70%;
}



#search-bar{
  background-color: #f5f6f8;

  background-image:url('/Images/search-icon.png');
  background-repeat: no-repeat;
  background-size:25px 25px;
  background-position: 0px 7px;

  padding: 12px 28px;
  width: 100%;
  border-radius:15px 4px 4px 15px;
  border: none;
  /* box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1); */

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


input, select, textarea{
    font-family: Verdana;
    font-size: 0.7rem;
    /* line-height: 1.5; */
}
/* *, ::after, ::before {
    box-sizing: border-box;
} */

body.swal2-height-auto {
    height: 100%!important;
}

.side-bar{

  display:inline-block;
  z-index: 1;

  background: #fff;
  float: left;
  position: relative;
  width: 15%;
  /* max-width: 200px; */
  /* height: 600px; */
  min-height: 100%;

  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

}


.side-bar-item, .side-bar-title{
  text-align: center;
  width: 100%;
  font-size: 11px;
  padding: 10px 0;
  font-family:  Verdana ;
  border-top: 1px solid #e1e5eb;
  border-bottom: 1px solid #e1e5eb;
  cursor: pointer;
  background:#fff;
}

.side-bar-title.dashboard{
  font-size: 25px;
  font-family: Courier ;
  font-variant-caps: all-small-caps;
  color:rgba(136, 135, 156,1);
  /* box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1); */

  /* text-transform: uppercase; */
}

.side-bar-item:hover,.side-bar-item.selected{
  background: rgba(136, 135, 156,1);
  color: white;
}

.hor-nav-item.menu{
  display: none;
}

.logo_long{
  display:block;
  text-align: left;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  /* background-image: url('/Images/turoken_long.png');
  background-repeat: no-repeat;
  background-size: 50% 100%; */
}

.logo_long img{
  width:100%;
  height: 100%;
}

/* Organization */
.organization-none{
    display: block;
    text-align: center;
    width:60%;
    margin: 50px auto;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

}

.organization-none .message{
  padding: 10px 20px;
  background: rgba(136, 135, 156,1);
  color:white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Verdana;
}

.organization-none  .getStarted, .organization-none a {
  color:rgba(136, 135, 156,1);
  margin-top:10px;
  padding: 12px 20px;

  font-size: 15px;
  text-transform: capitalize;
  text-decoration: underline;
}

/* Main Content */
.mainContent{
  display: inline-block;

  /* background-color: blue; */
  width:85%;

}

.page{
    display: inline-block;
    width:100%;

    /* box-shadow: 0px 1px 6px 1px #777; */
}

/* .home:hover{
    box-shadow: 0px 1px 6px 3px #777;
} */

.spreadsheet-display{

  /* position:absolute; */
  display: inline-block;



  background-color: #fff;
  box-shadow: 0px 1px 6px 1px white;

  color:white;
  font-family: Verdana;

  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
  border-radius: 10px;


  width: 25%;



  /* max-width: 35%; */
  height:250px;

  vertical-align: top;
  margin-top: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 25px;


background-image:url('/Images/previewgradient.png');
background-size:100% 100%;

  /* padding: 12px 20px; */

  /* left: 15px;
  top:20px;
  width: calc(40% - 30px);
  height: calc(40% - 20px); */
  text-align: center;
}

.spreadsheet-display:hover{
  filter:opacity(90%);
    /* box-shadow: 0px 1px 6px 3px white; */
}

.center{
  position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.preview-spreadsheet{
    /* position:absolute; */
    display:inline-block;

    width:95%;
    margin-top: 10px;
    margin-left: 2.5%;
    /* margin-right: 5%; */

    border: none;

    /* bottom:5px;
    left:10px;
    width: 80%;
    height: calc(55% - 10px);
    width: calc(100% - 20px); */

    /* max-width: 30%;
    height:300px; */
    box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
    background-color: #fff;

    border-radius: 10px;
    padding: 12px 20px;
}

.preview-spreadsheet:hover{
    /* box-shadow: 0px 1px 6px 3px white; */
}

.ss-loading-container{
  display: block;
  width:100%;
  text-align: center;
  height: 20px;
}

.ss-loading-container .loading-spreadsheet{
  padding: 0;
  margin: 15px 0;
}


.spreadsheet-table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height:85%;
  color:rgba(136, 135, 156,1);

}

.spreadsheet-table th {
    position: sticky;
    top: 0;

}


.spreadsheet-table td, .spreadsheet-table th {

  border: 1px solid #ddd;
  padding: 8px;
}

.spreadsheet-table tr:nth-child(even){background-color: #f2f2f2;}

.spreadsheet-table tr:hover {background-color: #ddd;}

.spreadsheet-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  rgba(136, 135, 156,1);
  color: white;

}
/* Geting Started */

.text-container{

  position: relative;
  width:95%;

  max-height: 700px;
  left:2.5%;
  background:rgba(136, 135, 156,0.5);
  border-radius: 20px;
  font-family: Verdana;
  color:#000;
  overflow: auto;
  /* font-family: sans-serif; */
  box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

}

.text-container .text-container-title{

  width:100%;
  text-align:center;
  padding: 15px 0px;
  color:#fff;
  position: sticky;
  top:0;

  /* background-image:url('/images/previewgradient.png');
  background-size:100% 100%; */
  background:rgba(136, 135, 156,1);
  font-size: 30px;
  font-variant-caps: all-small-caps;

}

.text-container .text-container-content{
  padding: 15px 20px;
  font-size: 15px;
}

.text-container-content .sub-heading{
  margin: 10px 0;
  margin-bottom:5px;
  padding: 0 20px;
}

.sub-content{
  margin:0;padding: 0 60px;
}

@media only screen and (max-width: 768px) {
    body{
      display: flex;
      flex-direction: column;
      height: unset;
      min-height:100%;
      flex-grow: 1;
    }


    .hor-nav-bar{
      position: sticky;
      z-index: 1;
      top:0;
      width: 100%;
      height:5%;
      order:-1;
    }
    .hor-nav-item .name-text{
      display: none;
    }
    .hor-nav-item.search{
      width:65%;
    }

    .side-bar{
      position: sticky;
      z-index: 1;
      top:calc(5% + 5px);
      order: 0;
      display: none;
      width: 100%;
      /* height: */
      /* height: 5%; */
      /* max-height: 100%; */
      min-height: 2.5%;
      margin-bottom: 10px;
    }


    .hor-nav-item.menu{
      display: inline-block;
      height: 35px;
      width: 35px;
      background-image:url('/Images/menu.png');
      background-size:100% 100%;
    }

     .mainContent .page.organization{
      margin-top: unset;
    }

    /* .side-bar-item:hover,.side-bar-item.selected{
      background: rgba(136, 135, 156,1);
      color: white;
    } */

    .mainContent{
      width:100%;
      order: 3;
    }

    .hbs-body-container.mainContent{
      order: 4;
    }



    .preview-spreadsheet,.organization-none,.spreadsheet-display{
      width: 95%;
      margin: 5px 2.5%;
      box-shadow: unset;
    }

    .text-container{
      max-height: unset;
      margin-top:15px;
    }


}
