
.page.organization, .page.settings{
  margin-top: 25px;
  text-align: center;

}

.organization-options-item{

    display:inline-block;
    margin: 5px 10px;
    width:45%;
    max-width: 450px;
    background: #fff;
    box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);

    border-radius: 10px;
    vertical-align: top;
    margin: 5px 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.organization-options-item .title{
  padding: 10px 20px;
  background: rgba(136, 135, 156,1);
  color:white;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
  font-family: Verdana;


}

.organization-form-group{
  /* margin-bottom: 1rem; */
  font-family: Verdana;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 20px;
  text-align: left;
}

.organization-form-group label{
  font-family: Verdana;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  text-transform: capitalize;
  color: rgba(136, 135, 156,1);
}

.organization-form-group input{

  width:100%;
  padding: 12px 20px;
  border-radius: 4px;
   border: 1px solid #ccc;
}

.organization-form-group ul{
  padding: 0;
  text-align: left;
  list-style-type: none;
  margin: 0;
}

.organization-form-group li.message-list-item{
    background:rgba(75,	202	,129,0.8);
}
.organization-form-group li{
  text-align: center;
  text-decoration: none;
  padding: 4px 8px;
  background: #FFBABA;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group-message{
  font-family: Verdana;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 20px;
  text-align: center;
  background: rgba(136, 135, 156,0.4);

  border-radius: 5px;


  /* margin: 10px 0; */
}



.form-group-message .message{
    padding: 0 10px;
    font-size: 15px;
    padding-bottom: 5px;
    font-family: Courier;
    font-variant-caps: all-small-caps;
    color:#fff;
    background: rgba(136, 136, 156,1);
    overflow: hidden;
    text-overflow:ellipsis;
    box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);


    /* margin: 5px 0; */
}

.form-group-message .message.important{
    font-size: 15px;
    font-family: Courier;
    font-variant-caps: all-small-caps;
    color:#fff;
    background: rgba(136, 135, 156,0.9);
    overflow: hidden;
    text-overflow:ellipsis;
    width:70%;
    display: inline-block;
    margin: 0;
    border-radius: 5px;
}

.form-group-message .input-confirmation{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.form-group-message .input-confirmation input{
  width:25px;
  height: 30px;
  margin: 0;
}


.form-group-message .message label{
    color:#fff;
}

.form-group-message .email, .form-group-message .link, .form-group-message .submessage{
  font-size: 12px;
  font-family: Courier;
  padding: 5px 12px;
  background: #fff;
  box-shadow: 0 0rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
  border-radius: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  margin-top:0px;
  margin-bottom:15px;



}

.organization-form-group.button-container{
    text-align: center;
}

.organization-form-group.button-container .create-button{

  background-color: rgba(136, 135, 156,1);
  border: none;
  width: 100%;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.organization-form-group.button-container .create-button:hover{
  background-color: rgba(136, 135, 156,0.7);

}

.organization-form-group.button-container .create-button.leave{
  background: rgba(255,186,186,0.7);
}

.organization-form-group.button-container .create-button.leave:hover{
  background: rgba(255,186,186,1);
}

*, ::after, ::before {
    box-sizing: border-box;
}





/* Manage User Box */


/* form-group-message,member-name,permission */
.form-group-message .permission {
  padding: 0;
  margin-top: 0;

}
.form-group-message .permission select{
    width: 100%;
    padding: 5px 0px;
}

.limitContent{
  max-height: 250px;
  overflow: auto;
}
