<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <script src="javascripts/importedScripts/jquery-3.5.0.min.js" ></script>
    <script src="javascripts/importedScripts/moment.min.js"></script>

    <script src="javascripts/importedScripts/sweetalert2.all.min.js" ></script>
    <script src="javascripts/importedScripts/Chart.min.js" ></script>

    <script src="javascripts/importedScripts/jspdf.min.js" ></script>
    <script src="javascripts/importedScripts/html2canvas.js" ></script>
    <script src="javascripts/importedScripts/html2canvas.min.js" ></script>
    <script src="javascripts/importedScripts/jspdf.plugin.autotable.js" ></script>

    <script src="javascripts/myScripts/main.js" ></script>
    <script src="javascripts/myScripts/requestsController.js" ></script>
    <script src="javascripts/myScripts/graphs.js" ></script>
    <script src="javascripts/myScripts/search.js" ></script>

    <script src="javascripts/myScripts/print.js" ></script>
    <script src="/javascripts/myScripts/mainInstance.js" ></script>

    <link type="text/css"   rel="stylesheet" href="/stylesheets/main.css" media="all"  />
    <link type="text/css"   rel="stylesheet" href="/stylesheets/graph.css" media="all"  />
    <link type="text/css"   rel="stylesheet" href="/stylesheets/search.css" media="all"  />



    <title> {{title}}</title>


  </head>
  <body >

    <div>

    </div>

    <div class='side-bar'>
          <div class='side-bar-title dashboard'>Dashboard</div>
          <div class='side-bar-item' onclick='window.location.href="/logout" ' >Logout</div>




    </div>



    <div class='hor-nav-bar'>

            <div class="hor-nav-item left search">
               <input id='search-bar' type='text' onkeyup="$('.hbs-body-container').hide();$('.page.search').fadeIn();search(this.value)" placeholder='Search....' />
            </div>
            <div class="hor-nav-item right logo" > <img src="/images/rccg.png"/></div>
            <div class="hor-nav-item right" > <div class='name-text'>{{name}}</div></div>

    </div>


    <div class='hbs-body-container'>
          {{{ body }}}
    </div>



      <div class="mainContent">



          <div class="page search" style='display:none'>
                        <div class='dashboard-return' onclick='$(".page.search").hide();$("#search-bar").val(""); $(".hbs-body-container").fadeIn();'>
                              Return to Dashboard
                        </div>

                        <div class="search-container">
                          {{!-- <input type="text" class="inputSearch" placeholder="Search"  /> --}}
                            <div class="no-results ">
                                No Results
                            </div>

                          <div class="search-results">
                            <table class="result-table">

                            </table>
                          </div>
                        </div>

                        {{!-- <div class="preview-container">


                        </div> --}}

                        <div class="result-preview-container" id='searchResults' >
                              <div class="result-preview-content">
                                    <div class="filterBy" id="year-filter">Filter By Year</div>
                                    <div class="filterBy" id="month-filter" >Filter By Month</div>
                                    <div class="filterBy" id="day-filter" >Filter By Day  </div>
                              </div>
                        </div>

          </div>
      </div>

  </body>
</html>
